/* styling quotes template here */

body {
    background: #181850;
    color: #fff;
    font-family: 'Helvetica Neue', sans-serif;
}

.card {
    background: #2c2c6c;
    border: none;
}

.blockquote p {
    color: yellow;
}

.blockquote-footer {
    color: #a9a9a9;
}

.btn-primary {
    background-color: #7262e8;
    border-color: #7262e8;
}

.btn-primary:hover {
    background-color: #5a4fbf;
    border-color: #5a4fbf;
}