{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/quotes.css') }}">
{% endblock %}

{% block content %}

    <div class="container text-center">
        <h1 class="display-4 my-4">QuoteSplash</h1>
        <p class="lead">Your daily dose of inspiration.</p>

        <div class="card my-5">
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p >{{ quotes.random_q }}</p>
                    <footer class="blockquote-footer">{{ quotes.author }}</footer>
                </blockquote>
            </div>
        </div>

        <a href="{{ url_for('get_quotes')}}" class="btn btn-primary btn-lg">New Quote</a>
    </div>

{% endblock %}